---
import { loadEnv } from 'vite'
import { t } from '../i18n/utils.astro'
import { ImageSrc } from './ImageAssets.astro'
import HreflangComponent from './Hreflang.astro'
import GTMComponent from './GoogleTagManager.astro'

const {
  lang='',
  page='',
  error=false
} = Astro.props

// Ejemplo: construye una URL canónica usando tu dominio de producción
const canonicalURL  = new URL(Astro.url.pathname, Astro.site)
const baseUrl       = new URL(Astro.site)
const ImageUrl      = ImageSrc('pro-international.jpg')

const env           = loadEnv(process.env.NODE_ENV, process.cwd(), '')
const GTMID         = (env?.PUBLIC_GTM_ID || null)
const datePublished = (env?.PUBLIC_DATE_PUBLISHED || '')
const dateModified  = (env?.PUBLIC_DATE_MODIFIED || '')

const seo           = {
  'title':          t(lang,`pages${page}:title`, false),
  'description':    t(lang,`pages${page}:description`, false),
  'keywords':       t(lang,`pages${page}:keywords`, false),
}
---

<>
  <link rel="preconnect"    href="https://fonts.googleapis.com" crossorigin="anonymous" />
  <link rel="dns-prefetch"  href="https://fonts.googleapis.com" />
  <link rel="preconnect"    href="https://fonts.gstatic.com" crossorigin="anonymous" />
  <link rel="dns-prefetch"  href="https://fonts.gstatic.com" />
  {GTMID && <link rel="preconnect"    href="https://www.googletagmanager.com" crossorigin="anonymous" />}
  {GTMID && <link rel="dns-prefetch"  href="https://www.googletagmanager.com" />}
  {GTMID && <link rel="preload"       href={`https://www.googletagmanager.com/gtag/js?id=${GTMID}`} as="script" />}

  <link rel="canonical"     href={canonicalURL} />
  <link rel="icon"          href={`${baseUrl}favicon.ico`} type="image/x-icon" />
  <link rel="Shortcut Icon" href={`${baseUrl}favicon.ico`} type="image/x-icon" sizes="16x16 24x24 32x32 48x48 64x64" />
  <link rel="sitemap" type="application/xml" title="Site map" href={`${baseUrl}sitemap-index.xml`} />

  <HreflangComponent lang={lang} />

  <!-- Primary Meta Tags -->
  {seo?.title && <title>{ `${seo.title} - ${t(lang,'global:siteTitle')}`}</title>}
  {seo?.title && <meta name="title" content={seo.title} />}
  {seo?.description && <meta name="description" content={seo.description} />}
  {seo?.keywords && <meta name="keywords" content={seo.keywords} />}

  <!-- ui -->
  <meta name="theme-color" content="#302ca7" />
  <meta name="msapplication-TileColor" content="#302ca7" />
  <meta name="msapplication-TileImage" content={ImageUrl} />

  <!-- Open Graph / Facebook -->
  {seo?.title && <meta property="og:title" content={seo.title} />}
  {seo?.description && <meta name="og:description" content={seo.description} />}
  <meta property="og:locale" content={lang==='es' ? t('es','global:hrefLang-ES') : t('en','global:hrefLang-EN')} />
  <meta property="og:locale:alternate" content={lang==='es' ? t('en','global:hrefLang-EN') : t('es','global:hrefLang-ES')} />
  <meta property="og:site_name" content={t(lang,'global:siteTitle')} />
  <meta property="og:type" content="website" />
  <meta property="og:url" content={canonicalURL} />
  <meta property="og:image" content={ImageUrl} />

  <!-- Twitter -->
  <meta name="twitter:widgets:autoload" content="off" />
  <meta name="twitter:widgets:csp" content="on" />
  <meta name="twitter:widgets:theme" content="light" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:url" content={canonicalURL} />
  {seo?.title && <meta name="twitter:title" content={seo.title} />}
  {seo?.description && <meta name="twitter:description" content={seo.description} />}
  <meta property="twitter:image" content={ImageUrl} />

  {datePublished && <meta property="article:published_time" content={datePublished} />}
  {dateModified && <meta property="article:modified_time" content={dateModified} />}

  {/* Do not use {error ? (<>...</>) : (<>...</>)} */}
  {error  && <meta name="robots" content="noindex, nofollow" />}
  {error  && <meta name="errorpage" content="true" />}
  {error  && <meta name="errortype" content="404 - Not Found" />}
  {error  && <meta name="prerender-status-code" content="404" />}
  {!error && <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1" />}

  {GTMID && <GTMComponent id={GTMID}/>}

  <slot />
</>
