---
import MaintenanceComponent from '../components/Maintenance.astro'
import HeadComponent from '../components/Head.astro'
import SkipMainComponent from '../components/SkipMain.astro'
import HeaderComponent from '../components/Header.astro'
import SchemaMarkupComponent from '../components/SchemaMarkup.astro'
import FooterComponent from '../components/Footer.astro'

const currentLocale = Astro.currentLocale
const disabled      = (import.meta.env?.PUBLIC_MAINTENANCE || 'false')

const {
  page='home',
  error=false
} = Astro.props
---

<!doctype html>
<html lang={currentLocale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="generator" content={Astro.generator} />
    <HeadComponent lang={currentLocale} page={page} error={error}/>
    <style>
      @keyframes spin {100%{transform:rotate(360deg);}}
      #loader {width:70px;height:70px;animation:spin 2s linear infinite;background-image:url('/assets/iso-loader.svg');background-position:center center;background-size:70px 70px;background-repeat:no-repeat;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;}
    </style>
	</head>
	<body>
    {disabled==='true' ? 
    (
      <MaintenanceComponent />
    ) : (
      <div id="loader" width="70" height="70"></div>
      <SkipMainComponent />
      <HeaderComponent lang={currentLocale} />
      <main id="main">
        <slot />
      </main>
      <FooterComponent lang={currentLocale} />
    )}
    {!error && (<SchemaMarkupComponent lang={currentLocale} page={page} />)}
	</body>
</html>

<script>
  document.onreadystatechange = function() {
    if (document.readyState === 'complete') {
      try { document.getElementById('loader').remove(); } catch (error) { }
    }
  };
</script>

<script>
  /* https://github.com/zougari47/portfolio-template/blob/main/src/pages/index.astro */
  import AOS from 'aos'
  AOS.init({
    'once': true,
    'delay': 100
  });
</script>

<script>
  import 'bootstrap/dist/js/bootstrap.bundle.js';
</script>

<style lang="scss" is:global>
  @import '../scss/index.scss';
</style>
